.App {
  font-family: Arial, sans-serif;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 100px;
  border-bottom: 1px solid #ddd;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.user-profile {
  display: flex;
  align-items: center;
  text-align: right;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.user-name {
  display: grid;
}

.user-name-1 {
  font-size: 12px;
  font-style: italic;
  color: #666;
  line-height: 1.2;
}

.user-name-2 {
  font-size: 13px;
}

.banner {
  text-align: center;
  background-color: #29b262;
  color: #fff;
  padding: 50px 20px;
}

.banner h1 {
  margin: 0;
  font-size: 36px;
}

.banner p {
  margin: 10px 0 0;
  font-size: 18px;
}

.main-content {
  text-align: center;
  background-color: #fff;
  padding: 50px 20px 0px 20px;
}

.joke-container {
  max-width: 600px;
  margin: 0 auto;
}

.joke-text {
  padding-bottom: 30px;
  font-size: 18px;
}

.joke-buttons {
  text-align: center;
}

.joke-buttons .button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.funny {
  background-color: #2675bf;
  color: #fff;
}

.not-funny {
  background-color: #29b262;
  color: #fff;
}

.footer {
  background-color: #fff;
  text-align: center;
  padding: 10px 0px 10px 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #ddd;
}

.footer p {
  margin: 5px 0;
}

.footer p:first-of-type {
  font-size: 14px;
  color: #a9a7a7;
  padding: 0 300px;
}